@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  margin: 0 auto;
}

.container {
  padding: 0 15px;
}

.header {
  background-color: white;
}

.header__inner {
  margin: 23px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.top__inner {
  margin-bottom: 15px;
}

.top__inner-img {
  max-width: 100%
}



























