.footer {
  background-color: #000000;
}

.footer-title {
  padding-top: 38px;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  color: #FEFEFE;
}

.footer-text {
  font-size: 14px;
  text-align: center;
  color: #B9B9B9;
  line-height: 20px;
  margin-bottom: 37px;
}

.footer__social-list {
  display: flex;
  justify-content: center;
}

.footer__social-link {
  padding: 10px;
  border-radius: 50%;
  margin-right: 6px;
}

.footer__contacts {
  margin: 20px auto;
  padding: 10px 0;
}

.footer__contect-title {
  font-size: 16px;
  text-align: center;
  color: #B9B9B9;
}

.footer__contact-phone {
  font-size: 16px;
  text-align: center;
  color: #B9B9B9;
  text-decoration: none;
}

.footer__contact-email {
  font-size: 16px;
  text-align: center;
  color: #B9B9B9;
  text-decoration: none;
}
