@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 320px) {
  .post__inner {
    display: block;
  }
}

@media (min-width: 500px) {
  .post__inner-wrap {
    margin-left: 20px;
  }

  .post__inner {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .post-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .post__inner {
    width: 49%
  }

  .post__inner-wrap {
    margin-left: 20px;
  }
}

@media (min-width: 320px) {
  .shot-one {
    display: block;
  }

  .shot-two, .shot-three, .shot-four {
    display: none;
  }

  .right {
    display: none;
  }
}

@media (min-width: 768px) {
  .shot__inner {
    display: flex;
  }

  .shot-one, .shot-two, .shot-three {
    display: block;
  }

  .shot-four {
    display: none;
  }

  .right {
    display: block;
  }

  .shot__inner-img {
    width: 100%
  }
}

@media (min-width: 1200px) {
  .shot__inner {
    display: flex;
  }

  .shot-one, .shot-two, .shot-three, .shot-four {
    display: block;
  }

  .right {
    display: block;
  }

  .shot__inner-img {
    width: 285px;
  }
}

@media (min-width: 768px) {
  .footer__contacts {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .footer__contacts {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .menu__nav-item {
    background-color: white;
    padding-right: 68px;
  }
}

@media (min-width: 768px) {
  .header__inner {
    display: block;
  }

  .menu__nav {
    width: 100%
  }

  .menu__btn {
    display: none;
  }

  .menu__nav-list {
    display: flex;
    opacity: 1;
    transform: scaleY(1);
    position: inherit;
    width: 100%
  }

  .menu__nav-item {
    background-color: white;
    padding-right: 10px;
  }
}