.menu__btn {
  width: 44px;
  height: 37px;
  background: black;
  border: none;
  position: relative;
}

.menu__btn, .menu__btn:active, .menu__btn:focus {
  outline: none;
}

.menu__line, .menu__line::before, .menu__line::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: white;
}

.menu__line::before, .menu__line::after {
  content: '';
  display: block;
  transition: 0.2s;
}

.menu__line::before {
  transform: translateY(-5px);
}

.menu__line::after {
  transform: translateY(5px);
}

.menu__btn-active span {
  height: 0;
}

.menu__btn-active span::before {
  transform: rotate(45deg);
}

.menu__btn-active span::after {
  transform: rotate(-45deg);
}

.menu__nav {
  width: 182px;
}

.menu__nav-list {
  margin: 0;
  transition: 0.5s;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  position: absolute;
  justify-content: center;
  width: 182px;
  top: 61px;
}

.menu__nav--active {
  transform: scaleY(1);
  opacity: 1;
}

.menu__nav-item {
  list-style-type: none;
  text-align: start;
  padding: 10px 0 10px 12px;
  background: #F5F5F5;
}

.menu__nav-item:hover {
  background: #E5E5E5;
}

.menu__nav-item a {
  text-decoration: none;
  color: #4E4E4E;
  text-transform: uppercase;
}