.post-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4E4E4E;
}

.post__inner-text {
  display: none;
}

.post__inner {
  padding-bottom: 28px;
  display: flex;
}

.post__inner-text {
  display: block;
  font-size: 14px;
  line-height: 26px;
  color: #5C5C5C;
  width: 100%
}

.post__inner-title {
  font-size: 16px;
  color: #4E4E4E;
}

.post__inner-link {
  text-decoration: none;
}

.post__inner-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #7C7C7C;
}

.post__inner-separator {
  margin: 0 5px;
  color: #7C7C7C;
}

.post__inner-comment {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #7C7C7C;
}