.shot-inner {
  overflow: hidden;
}

.shot__inner-title {
  display: flex;
  justify-content: space-between;
}

.shot__inner-block {
  margin-right: 10px;
  flex-shrink: 1;
}

.shot-title {
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.one {
  border: 2px solid #F8902E;
}

.two {
  border: 2px solid #39599F;
}

.three {
  border: 2px solid #45B0E3;
}

.four {
  border: 2px solid #D97AB0;
}

.five {
  border: 2px solid #CC212C;
}
